@import url('https://fonts.googleapis.com/css2?family=Micro+5+Charted&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "PT Serif", sans-serif;
}

body {
    color: white;
    background-color: limegreen;
    text-align: center;
}

.box {
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    width: 300px; height: 300px;
    align-content: center;
}

.container {
    margin: 0 auto;
    width: 700px;
    height: 700px;
}

header {
    align-content: center;
    background-color: #123;
    height: 200px;
}

nav {
    align-content: center;
    background-color: #128;
    height: 500px;
}